@inherits AddPersonFormBase

<EditForm Model="@Person" OnValidSubmit="SavePersonAsync">
    <DataAnnotationsValidator />
    <input type="hidden" @bind-value="Person.UserId" />
    <input type="hidden" @bind-value="Person.Id" />

    <div class="row mb-4">
        <div class="col-sm">
            <label for="firstName" class="form-label">First Name</label>
            <InputText id="firstName" class="form-control" @bind-Value="Person.FirstName" />
        </div>
        <div class="col-sm">
            <label for="middleName" class="form-label">Middle Name</label>
            <InputText id="middleName" class="form-control" @bind-Value="Person.MiddleName" />
        </div>
        <div class="col-sm">
            <label for="lastName" class="form-label">Last Name</label>
            <InputText id="lastName" class="form-control" @bind-Value="Person.LastName" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm">
            <label for="nickname" class="form-label">Nick Name</label>
            <InputText id="nickname" class="form-control" @bind-Value="Person.Nickname" />
        </div>
        <div class="col-sm">
            <label for="phone" class="form-label">Phone</label>
            <InputText id="phone" class="form-control" @bind-Value="Person.Phone" />
        </div>
        <div class="col-sm">
            <label for="email" class="form-label">Email</label>
            <InputText id="email" class="form-control" @bind-Value="Person.Email" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm">
            <label for="address" class="form-label">Address</label>
            <InputText id="address" class="form-control" @bind-Value="Person.Address" />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm">
            <label for="church" class="form-label">Church</label>
            @if (Person.ChurchId == 0 && Churches?.Count>0)
            {
                Person.ChurchId = Churches.FirstOrDefault().Id;
            }
            <MudSelect @bind-Value="Person.ChurchId">
                @foreach (var church in Churches)
                {
                    <MudSelectItem Value="@church.Id">@church.Name</MudSelectItem>
                }
            </MudSelect>
        </div>
       @*  <div class="col-sm">
            <label for="Status" class="form-label">Status</label>
            <MudSelect T="bool"  @bind-Value="Person.IsActive">
                <MudSelectItem Value="true">Active</MudSelectItem>
                <MudSelectItem Value="false">InActive</MudSelectItem>
            </MudSelect>
        </div>
        <div class="col-sm">
            <label for="gender" class="form-label">
                Genders
            </label>
            <MudSelect T="bool" @bind-Value="Person.IsMale">
                <MudSelectItem Value="true">Male</MudSelectItem>
                <MudSelectItem Value="false">Female</MudSelectItem>
            </MudSelect>
        </div> *@
    </div>
    <div class="row mb-5">
        <div class="col-sm">
            <label for="BirthDate" class="form-label">BirthDate</label>
            <InputDate id="BirthDate" class="form-control" @bind-Value=@Person.BirthDate />
        </div>
        <div class="col-sm">
            <label for="BaptismDate" class="form-label">BaptismDate</label>
            <InputDate id="BaptismDate" class="form-control" @bind-Value=@Person.BaptismDate />
        </div>
    </div>
    @* <div class="row mb-5">
        <div class="col-sm">
            <label for="DeathDate" class="form-label">DeathDate</label>
            <InputDate id="DeathDate" class="form-control" @bind-Value=@Person.BaptismDate />
        </div>
    </div> *@
    <div class="row mb-4">
        <div class="col-sm">
            <label for="Note" class="form-label">Note</label>
            <InputTextArea id="Note" mu class="form-control" @bind-Value="Person.Notes" />
        </div>
    </div>
    <div class="row mb-5 float-end">
        @* <button type="button" class="btn btn-secondary w-25" @onclick="CloseDialog">Cancel</button> *@
        <button type="submit" class="btn btn-primary text-center " style="width:150px;">
            @if (Person.Id > 0)
            {
                <span>Update Person</span>
            }
            else
            {
                <span>Add Person</span>
            }
        </button>
    </div>
</EditForm>