@inherits FamilyRelationshipDialogBase


<MudDialogContent Class="p-4">
    <MudForm @ref="Relationshipform" Model="Relationship" OnValidSubmit="Submit">
    <MudGrid GutterSize="3">
        <MudItem xs="12" sm="12" Class="mp-0">
            <input type="hidden" @bind-value="Relationship.PersonId" />
            <label for="PersonName" class="form-label">Person</label>
            <MudTextField @bind-Value="PersonName"
                 Variant="Variant.Outlined"
                 Required="true" Disabled="true"
                 FullWidth="true" />

        </MudItem>
            <MudItem xs="12" sm="12">
                <label for="relationshipTypeId" class="form-label">Related Person</label>
                <MudAutocomplete T="Person" InputId="RelatedPersonId" @bind-Value="Relationship.RelatedPerson"
                    SearchFunc="Search"
                    InputMode="InputMode.numeric"
                    ToStringFunc="@(e=> e==null?null : $"{e.FirstName} {e.LastName}")"
                    Required="true">
                </MudAutocomplete>
      </MudItem>
      <MudItem xs="12" sm="12">
                <label for="relationshipTypeId" class="form-label">Relationship Type</label>
                <MudSelect @bind-Value="Relationship.RelationshipTypeId" Required="true">
                    @foreach (var relation in AllRelationShipType)
                    {
                        <MudSelectItem Value="@relation.Id">@relation.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="12">
      <label for="Notes" class="form-label">Notes (Optional)</label>
             
                <MudTextField @bind-Value="Relationship.Notes"
                                      Label="Add any notes about this relationship..."
                      Variant="Variant.Outlined"
                      Required="true"
                      FullWidth="true" />
      </MudItem>
    </MudGrid>
  </MudForm>
</MudDialogContent>
<MudDialogActions Class="px-4 pb-4 d-flex justify-content-end">
  <MudButton Variant="Variant.Text"
             OnClick="Cancel">
    Cancel
  </MudButton>
  <MudButton ButtonType="ButtonType.Submit"
               OnClick="Submit"
               Disabled="@(Relationshipform?.IsValid != true)"
             Variant="Variant.Filled"
             Color="Color.Primary"
             Class="ms-2">
        Create Relationship
  </MudButton>
</MudDialogActions>
